<form class="form-signin" style="max-width: 330px;padding: 15px;margin: 0 auto;" name="add user" method="post" action="auth/local">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" name="username" class="form-control" placeholder="User Name" required="" autofocus="">
    <input type="password" name="password" class="form-control" placeholder="Password" required="">
    <label class="checkbox">
    <input type="checkbox" name="remembr"> Remember me
    
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <label class="btn btn-lg btn-link"> <a href="/forgotpass"> Forgot Password</a></label>
    <ul>
        <li><a href="/auth/google">Google</a></li>
        <li><a href="/auth/facebook">Facebook</a></li>
        <li><a href="/auth/twitter">Twitter</a></li>
        <li><a href="/auth/linkden">Linkeden</a></li>
        <li><a href="/auth/github">Github</a></li>
    </ul>
</form>
